<div class="cta">
    <div class="cta__inner">
        <div class="cta__text-container">
            {% if include.title %}
            <h2 class="cta__title">
                {{ include.title }}
            </h2>
            {% endif %}
            {% if include.body %}
            <p class="cta__blurb">
                {{ include.body }}
            </p>
            {% endif %}
        </div>
        <a href="mailto:alexandralash@gmail.com" class="c-btn c-btn--secondary cta__btn">
            {% if include.button-text %}
                {{ include.button-text }}
            {% else %}
                Contact me
            {% endif %}
        </a> 
    </div>
</div>