<div class="cta">
    <div class="cta__inner">
        <div class="cta__text-container">
            {% if include.title %}
            <h2 class="cta__title">
                {{ include.title }}
            </h2>
            {% endif %}
            <div class="cta__blurb">
            {% if include.body %}
                {{ include.body | markdownify }}
            {% endif %}

            {% if include.time %}
                <p>(Psst, <span id="-js-cta-timezone-time">my timezone is GMT</span>)</p>
            {% endif %}
            </div>
        </div>
        {% if include.button-text %}
        <a href="{% if include.button-link %}{{ include.button-link }}{% else %}mailto:{{ site.email }}{% endif %}" class="c-btn cta__btn">
                {{ include.button-text }}
        </a> 
        {% endif %}
    </div>
</div>