<div class="cta">
    <div class="cta__inner">
        <div class="cta__text-container">
            {% if include.title %}
            <h2 class="cta__title">
                {{ include.title }}
            </h2>
            {% endif %}
            {% if include.body %}
            <div class="cta__blurb">
                {{ include.body | markdownify }}
            </div>
            {% endif %}
        </div>
        <a href="{% if include.button-link %}{{ include.button-link }}{% else %}mailto:{{ site.email }}{% endif %}" class="c-btn cta__btn">
            {% if include.button-text %}
                {{ include.button-text }}
            {% else %}
                Contact me
            {% endif %}
        </a> 
    </div>
</div>