    {% if layout.layout_type != "project" %}
    <footer class="footer">
        <small class="footer__smallprint">
            &copy; Copyright {{ 'now' | date: "%Y" }}, Alex Lash.
        </small>
    </footer>
    {% endif %} 
    
    <script src="{{ site.baseurl }}/assets/javascript/mobile-menu.js"></script>
    
    {% if page.js_dependencies %}
        {% for dependency in page.js_dependencies %}
        <script src="{{ site.baseurl }}/assets/javascript/{{ dependency }}"></script>
        {% endfor %}
    {% endif %}

    {% if layout.layout_type == "project" %}
        <script src="{{ site.baseurl }}/assets/javascript/glide.min.js"></script>
        <script src="{{ site.baseurl }}/assets/javascript/custom-glide.js"></script>
    {% endif %}

    <!-- vanilla-lazyload -->
    <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script> 
    <script src="{{ site.baseurl }}/assets/javascript/vanilla-lazyload.js"></script>
    <!-- end vanilla-lazyload -->
  </body>
</html>