<nav class="nav" role="navigation">
  <div class="nav__inner">
    <a href="{{ '/' | prepend: site.baseurl }}" rel="home">
      Alex Lash
    </a>
    <div class="nav__turtle"></div>
    <ul class="nav__list">
      {% for nav in site.data.nav %}
      <li class="nav__item" role="presentation">
        <a 
          class="nav__link{% if page.url == nav.href %} --is-active{% endif %}{% if nav.href == '' %} --is-disabled{% endif %}" 
          href="{{ nav.href | prepend: site.baseurl }}" 
          {% if nav.href == '' %}disabled{% endif %}>
          {{ nav.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>