{% assign baseimage = include.image %}
{% assign imageending = baseimage | split: '.' | last %}
{% assign size = baseimage | size | minus: 4 %}

<figure class="project-visual" style="background-color: {{ include.bg }};">
    <picture class="project-visual__image">
        <source media="(max-width: 799px)" data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.5x.{{ imageending }}">
        <source media="(min-width: 800px)" data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.75x.{{ imageending }}">
        <img data-src="{{ site.baseurl }}/assets/images/projects/{{ baseimage }}" src="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}_tiny.{{ imageending }}" alt="{{ slide.image-alt }}" class="lazy">
    </picture>
    {% if include.caption %}
    <figcaption class="project-visual__image-caption">{{ include.caption | markdownify }}</figcaption>
    {% endif %}
</figure>