<div class="project-grid">
    <div class="project-grid__grid-container">
        <ul class="project-grid__images">
        {% for image in include.images %}
        
        {% assign baseimage = image.image %}
        {% assign imageending = baseimage | split: '.' | last %}
        {% assign size = baseimage | size | minus: 4 %}

        <li class="project-grid__image-container">
            <picture class="project-grid__image">
                <source media="(max-width: 799px)" data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.5x.{{ imageending }}">
                <source media="(min-width: 799px) and (max-width: 1000px)" data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.75x.{{ imageending }}">
                <source media="(min-width: 1000px)" data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage }}">
                <img data-src="{{ site.baseurl }}/assets/images/projects/{{ baseimage }}" src="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}_tiny.{{ imageending }}" alt="{{ include.image-alt }}" class="lazy">
            </picture>
        </li>
        {% endfor %}
        </ul>
    </div>
    {% if include.caption %}
    <div class="project-grid__image-caption">{{ include.caption | markdownify }}</div>
    {% endif %}
</div>