<div class="project-container">
    {% assign category = {{ include.category }} %}

    {% assign projects = site.projects | where: "category", include.category %} 

    {% for project in projects %} 

    {% if project.draft != true %}
    <article
        class="project {% if project.casestudy %} project--has-casestudy {% endif %}"
    >
        {% assign baseimage = project.featured-image %} {% assign imageending =
        baseimage | split: '.' | last %} {% assign size = baseimage | size |
        minus: 4 %}

        <div
            class="project__featured-image-container"
            style="background-color: {{ project.featured-bg }};"
        >
            <picture
                class="project__featured-image {% if project.featured-size == 'cropped' %} project__featured-image--cropped {% endif %}"
            >
                <source
                    media="(max-width: 799px)"
                    data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.5x.{{ imageending }}"
                />
                <source
                    media="(min-width: 800px)"
                    data-srcset="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}@0.75x.{{ imageending }}"
                />
                <img
                    data-src="{{ site.baseurl }}/assets/images/projects/{{ baseimage }}"
                    src="{{ site.baseurl }}/assets/images/projects/{{ baseimage | slice: 0, size }}_tiny.{{ imageending }}"
                    alt="{{ project.featured-alt }}"
                    class="lazy"
                />
            </picture>
        </div>

        <div class="project__text-container">
            <header class="project__header">
                <h2 class="project__title">{{ project.title }}</h2>
                <p class="project__years">{{ project.years }}</p>
            </header>
            <div class="project__excerpt">
                {{ project.excerpt | markdownify }}
            </div>

            <div class="project__desc">
                {{ project.hero.desc | markdownify }}
            </div>

            <footer class="project__links">
                {% if project.casestudy %}
                <a
                    class="c-btn project__button project__button--casestudy"
                    href="{{ project.url }}"
                >
                    See casestudy
                </a>
                {% endif %} {% if project.project-url %}
                <a class="project__link" href="{{ project.project-url }}">
                    Website
                    <i
                        class="project__link-icon fas fa-link"
                        aria-hidden="true"
                    ></i>
                </a>
                {% endif %}
            </footer>
        </div>
    </article>
    {% endif %} {% endfor %}
</div>
