.p-about {
    [role=main] {
        display: flex;
        flex-direction: column;
    }

    .intro__content {
        @media all and (min-width: $bp-xl) {
            margin-bottom: $pad-large*4;
        }
    }

    .cta {
        margin-top: auto;
    }
}
