.p-about {
    [role='main'] {
        display: flex;
        flex-direction: column;
    }

    .intro__content {
        @media all and (min-width: $bp-xl) {
            margin-bottom: $pad-large;
        }
    }

    .cta {
        margin-top: auto;
    }

    .intro {
        &__blurb {
            font-size: $font-size-large-2;
            font-weight: $font-weight-light;
        }

        &__figure-container {
            position: relative;

            @media screen and (min-width: $bp-med) {
                position: absolute;
            }
        }

        &__image-container {
            width: 100%;
            height: 0;
            position: relative;
            padding-bottom: 71.41%;
            background-color: $color-gray;
            border-radius: $border-radius-big;
            overflow: hidden;
        }

        &__image {
            width: 100%;
            position: absolute;
        }

        &__image-caption {
            z-index: 1;
            position: absolute;
            bottom: $pad-normal;
            right: $pad-normal;
            color: $color-white;
            text-shadow: 0 0 3px $color-black;

            p {
                font-size: $font-size-tiny;
                margin-bottom: 0;
            }

            a {
                color: $color-white;
                transition: opacity 0.35s;

                &::after {
                    border-color: $color-white;
                }

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
}
