$sidebar-width: 100px;
$sidebar-offset: 120px;

.p-resume {
    display: flex;
    flex-direction: column;

    .intro {
        max-width: $l-max-width;
        &__inner {
            text-align: center;
        }

        &__blurb {
            margin: 0 auto;

            @media screen {
                background: linear-gradient(
                    to right,
                    #8a2387,
                    #f7797d,
                    #f27121,
                    #f27121,
                    #8a2387,
                    #f7797d,
                    #f27121
                );
                background-size: 300%;
                background-repeat: repeat;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: gradientAnimation 4s linear infinite;
            }
        }

        &__content {
            @media screen and (min-width: $bp-large) {
                width: 100%;
            }

            @media screen and (min-width: $bp-xl) {
                margin-bottom: $pad-large;
            }
        }
    }

    .content {
        max-width: $l-max-width-narrow;
    }

    .section {
        position: relative;
    }

    .section-title {

        @media screen and (max-width: $bp-large) {
            margin-top: $pad-large-2;
        }

        @media screen and (min-width: $bp-large) {
            position: absolute;
            top: 7px;
            left: 0;
            width: $sidebar-width;
            text-align: right;
        }
    }

    .example {
        margin: 0 0 $pad-comfortable 0;

        @media screen and (min-width: $bp-large) {
            margin: 0 0 $pad-large $sidebar-offset;
        }

        &__title-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &:focus {
                box-shadow: none;
            }

            &:hover,
            &:active {
              text-decoration-line: underline;
              text-decoration-style: dotted;
              text-underline-offset: 3px;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                    left: -5px;
                    background: rgba($color-gray, 0.5);
                    z-index: -1;
                }
            }

            &:active {
                &::after {
                    background: rgba($color-gray, 0.35);
                }
            }

            &:focus {
                .example__desc-button {
                    @include focus-outline();
                }
            }

            &:focus:not(:focus-visible) {
                .example__desc-button {
                    box-shadow: none;
                }
            }

            &:focus-visible {
                .example__desc-button {
                    @include focus-outline();
                }
            }
            svg rect:first-child {
                transform: rotate(0);
                transform-origin: center center;
                transition: $anim-quick $anim-ease;
            }

            &[aria-expanded='true'] {
                svg rect:first-child {
                    transform: rotate(90deg);
                    transform-origin: center center;
                    transition: $anim-med $anim-ease;
                }
            }
        }

        &__title {
            text-align: left;
            font-family: $font-family-secondary;
            color: $color-gray-dark;
            font-weight: $font-weight-normal;
            margin-bottom: 0;
        }

        &__desc-button {
            border-radius: 100%;
            transition: background $anim-quick $anim-ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__plus-icon {
            width: 16px;
            height: 16px;
            fill: $color-gray-darkest;
        }

        &__metadata {
            font-family: $font-family-secondary;
            margin: $pad-small 0 $pad-medium;
        }

        &__company,
        &__dates {
            display: inline-block;
            font-weight: $font-weight-normal;
            font-size: $font-size-sm;
        }

        &__company a {
            font-weight: $font-weight-normal;

            &:hover {
              text-decoration-line: underline;
              text-decoration-style: dotted;
              text-underline-offset: 2px;
            }

            &:active {
              opacity: 0.75;
            }
        }

        &__excerpt-container {
            font-size: $font-size-sm;
        }

        &__metadata-divider {
            font-size: $font-size-sm;
            color: $color-gray-medium;
        }

        &__desc-container {
            font-weight: $font-weight-normal;
            margin-top: $pad-normal;
            max-height: 100%;
            opacity: 1;
            transform-origin: top;
            transition: max-height $anim-long, 
                         opacity $anim-long;

            &.-js-desc-hidden {
                max-height: 0;
                opacity: 0;
                transition: max-height $anim-long, 
                             opacity $anim-long;
            }
        }
    }
}

@media print {
    p {
        orphans: 2;
        widows: 2;
    }

    .p-resume {
        color: #000;
        background: #fff;

        .c-nav {
            &__trigger-container,
            &__list-container {
                display: none;
            }
        }

        .intro {
            &__inner {
                text-align: center;
            }

            &__blurb {
                font-size: 14px;
                margin: 0 auto;
                color: $color-black;
            }

            &__content {
                margin-bottom: 20px;
            }
        }

        .section-title {
            position: absolute;
            top: 0;
            left: 0;
            width: $sidebar-width;
            text-align: right;
            font-size: 11px;
            letter-spacing: 0;
            line-height: 1.9;
        }

        .example {
            margin: 0 0 20px $sidebar-offset;

            &__title {
                font-size: 16px;
                margin-bottom: 0;
            }

            &__metadata,
            &__company,
            &__dates,
            &__excerpt-container {
                font-size: 11px;
                letter-spacing: 0;
                margin: 0 0 10px;
            }

            &__desc-button {
                display: none;
            }

            &__desc-button {
                display: none;
            }

            &__desc-container {
                display: block !IMPORTANT;
                visibility: visible !IMPORTANT;
                margin-top: 5px;
                font-size: 11px;

                p,
                ul,
                ol {
                    line-height: 1.65;
                    margin-bottom: 8px;
                }

                ul {
                    list-style-type: disc;
                    list-style-position: outside;
                }

                ul li {
                    text-indent: 0;
                    margin-bottom: 8px;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .section--community {
            .example {
                break-inside: avoid;
            }
        }

        .footer {
            display: none;
        }
    }
}
