.p-work {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    in hsl to top right,
    hwb(0 20% 95%),
    hwb(0 20% 98%),
    #333333
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: $color-neutral-100;

  .c-nav {
    &__trigger--is-active,
    &__trigger:hover,
    &__trigger:focus,
    &__trigger:focus:not(:focus-visible) {
      @include focus-outline();
    }

    &__name {
      color: $heading-color-inverted;
    }

    &__role {
      color: $body-color-inverted;
    }

    &__link,
    &__link:not(.c-nav__link--is-active):hover {
      color: $link-color-inverted;
    }

    &__link--is-active::after {
      border-color: $link-underline-color-hover-inverted;
    }

    &__menu-icon {
      fill: $link-icon-color-inverted;

      &:hover,
      &:active {
        fill: rgba($link-icon-color-inverted, 0.5);
      }
    }

    &__link--is-active {
      &:hover {
        color: $link-color-hover-inverted;
      }

      &:hover::after {
        border-color: $link-underline-color-hover-inverted;
      }
    }

    .social-icons__link {
      color: $social-icon-fill-inverted;
    }
  }

  .content {
    padding: $pad-large $pad-small 0;

    @media screen and (min-width: $bp-med) {
      padding: $pad-large-2 $pad-large-2 0;
    }
  }

  .intro {
    max-width: $l-max-width-narrow;

    @media screen and (min-width: $bp-med) {
      margin-bottom: $pad-normal;
      max-width: none;
    }

    &__blurb {
      font-size: 5.45vw;
      opacity: 0;
      max-width: 72vw;

      @media screen and (max-width: $bp-med) {
        font-size: $font-size-xl;
      }

      p {
        font-weight: $font-weight-bold;
        line-height: 1.2;
        font-size: inherit;
        font-style: inherit;
        font-family: inherit;
        background-size: 400% 400%;
        background: linear-gradient(in hsl to right, #dd9787, #8a4fff, #e0d68a);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.project-container {
  text-align: left;
  margin: 0 auto;

  .project {
    border-radius: $border-radius-large;
    padding: $pad-small;
    position: relative;

    &--has-casestudy {
      .project__featured-image {
        transform: scale(1) translate(-50%, -50%);
        left: 50%;
        top: 50%;
        transform-origin: center;
        position: absolute;
        transition: transform $anim-quick $anim-ease;
      }

      .project__link {
        text-decoration: none;
        transition: opacity $anim-quick $anim-ease;
        white-space: nowrap;
      }

      &:hover,
      &:focus {
        .project__title {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -2px;
            left: 0;
            height: 1px;
            border-bottom: 1px dashed $link-underline-color-hover-inverted;
          }
        }

        .project__featured-image {
          transform: scale(1.1) translate(-45%, -45%);
        }
        .project__link {
          @media screen and (min-width: $bp-med) {
            opacity: 1;
          }
        }
      }
    }

    &__featured-image-container {
      border-radius: $border-radius-large;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        padding-bottom: 50%;
      }
    }

    &__featured-image {
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    &__featured-image--cropped {
      height: auto;
      width: 100%;
      left: 55% !important;
      bottom: -30%;
    }

    &__link {
      display: block;
      font-size: $font-size-sm;
      opacity: 0;

      @media screen and (min-width: $bp-med) {
        margin-left: auto;
      }

      @media screen and (max-width: $bp-med) {
        margin-left: -$pad-small;
      }

      &::after {
        border: none;
      }

      &:focus {
        @include focus-outline();
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        @include focus-outline();
      }
    }

    &__link-divider {
      color: $link-icon-color;
      padding: $pad-small;
    }

    &__link-icon {
      font-size: $font-size-sm;
    }

    &__text-container {
      display: block;
      line-height: $line-height-compact;
    }

    &__header {
      margin: $pad-medium 0 $pad-comfortable;
      line-height: $line-height-medium;
      display: flex;
      align-items: baseline;
    }

    &__title {
      display: inline;
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: inherit;
      margin: 0;
    }

    &__years {
      position: absolute;
      top: 0;
      right: 0;
      background: $color-utility-success-light;
      border-radius: $border-radius;
      color: $color-utility-success;
      padding: $pad-small $pad-medium;
      font-size: $font-size-sm;
      font-weight: $font-weight-semibold;
      margin: 0;

      @media screen and (max-width: $bp-med) {
        font-size: $font-size-tiny;
      }
    }

    &__excerpt {
      font-size: $font-size-sm;
      margin: 0 0 $pad-normal;
    }
  }

  .cta {
    max-width: $l-max-width;
    margin: $pad-large auto 0;
  }
}
