/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

 /*------------------------------------*\
     #COLORS
 \*-----------------------------------*/

/**
 * Brand Colors
 * 1) Main identifiable colors involved in creating the UI
 *    Feel free to add your brand's color palette here.
 */

/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the application
 */
$color-white: #fff;
$color-gray-lightest: #f9f9f9;
$color-gray-light: #e5e5e5;
$color-gray: #d2d2d2;
$color-gray-medium: #8a8a8a;
$color-gray-dark: #4f4f4f;
$color-gray-darkest: #282828;
$color-black: #000;

/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
$color-primary: #1f6135;
$color-secondary: #f74100;
$color-utility-info: #3f87a6;
$color-utility-info-light: #d3f2ff;
$color-utility-error: #b12a0b;
$color-utility-error-light: #fdded8;
$color-utility-success: #03804d;
$color-utility-success-light: #ebf8e1;
$color-utility-warning: #f69d3c;
$color-utility-warning-light: #fffecf;





/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family-primary: "Sentinel SSm A", "Sentinel SSm B", "Georgia", serif;
$font-family-secondary: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Arial", sans-serif;

/**
 * Font Sizing
 */
$font-size-tiny: 0.65rem;
$font-size-sm: 0.75rem;
$font-size-sm-2: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 1.4375rem;
$font-size-large-2: 2rem;
$font-size-xl: 2.4375rem;

/**
 * Font Weights
 */
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;



/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Max Width
 */
$l-max-width: 72rem;
$l-max-width-mid: 55rem;
$l-max-width-narrow: 36rem;





/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 * 2) The width of the bullets, used to align list content.
 */

$space: 1rem;

$pad-small: 0.25rem;
$pad-compact: 0.3rem;
$pad-medium: 0.5rem;
$pad-normal: 1rem; /* 1 */
$pad-comfortable: 1.4rem;
$pad-large: 2rem;
$pad-large-2: 3rem;

$space-bullet-offset: 1.6rem; /* 2 */





/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border variables
 */
$border-radius: 2px;





/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Transition Speed
 */
$fade-quick: 0.15s;
$fade-long: 0.4s;
$anim-ease: ease-in-out;
$anim-fast: 0.25s;





/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints used in media queries
 */
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 56em;
$bp-xl: 62em;





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
$body-background: $color-gray-lightest;
$body-color: $color-gray-dark;
$body-outline-color: $color-gray;

$link-color: $color-primary;
$link-underline-color: $color-gray-dark;
$link-underline-color-hover: lighten($link-color, 0.5);

$button-background: transparent;
$button-color: $color-gray-dark;
$button-border: $color-gray-dark;
$button-offset-color: $color-gray;
$button-offset-hover-color: $color-primary;

$h1-border-color: $color-gray;

$social-icon-fill: $color-gray-medium;
