/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors..............Utility colors are colors used to provide feedback, such as alert messages, form validation, etc.
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Font Sizing................Set font sizes
 * Font Weights...............Set font weights
 * Line Heights...............Set Line heights
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *
 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */

/*------------------------------------*\
     #COLORS
 \*-----------------------------------*/

/**
 * Brand Colors
 * 1) Main identifiable colors involved in creating the UI
 *    Feel free to add your brand's color palette here.
 */
$color-primary: #f74100;
$color-primary-100: #fee7cb;
$color-primary-200: #fec898;
$color-primary-300: #fca265;
$color-primary-400: #fa7d3e;
$color-primary-500: #f74100;
$color-primary-600: #d42900;
$color-primary-700: #b11500;
$color-primary-800: #8f0700;
$color-primary-900: #760001;

$color-secondary: #1f6135;
$color-secondary-100: #ecf4ec;
$color-secondary-200: #cae9cb;
$color-secondary-300: #b9dfbe;
$color-secondary-400: #6eba80;
$color-secondary-500: #1f6135;
$color-secondary-600: #092f19;
$color-secondary-700: #072517;
$color-secondary-800: #051d14;
$color-secondary-900: #041813;

$color-tertiary: #c6c013;
$color-tertiary-100: #fbfaef;
$color-tertiary-200: #f7f6ca;
$color-tertiary-300: #f3f2bc;
$color-tertiary-400: #e6e269;
$color-tertiary-500: #c6c013;
$color-tertiary-600: #605c05;
$color-tertiary-700: #4c4904;
$color-tertiary-800: #3b3803;
$color-tertiary-900: #323002;

$color-muted-lilac: #b59da4;
$color-muted-lilac-dark: #896771;

/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the application
 */

$color-neutral: #7f7f7f;
$color-white: #fff;
$color-neutral-100: #f3f3f3;
$color-neutral-200: #e0e0e0;
$color-neutral-300: #d6d6d6;
$color-neutral-400: #a5a5a5;
$color-neutral-500: #7f7f7f;
$color-neutral-600: #595959;
$color-neutral-700: #3d3d3d;
$color-neutral-800: #292929;
$color-neutral-900: #141414;
$color-black: #0a0a0a;

$color-neutral-fade: linear-gradient(
  to bottom,
  rgba($color-neutral, 0),
  $color-neutral,
  rgba($color-neutral, 0)
);

/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
$color-utility-info: #3f87a6;
$color-utility-info-light: #d3f2ff;
$color-utility-error: #b12a0b;
$color-utility-error-light: #fdded8;
$color-utility-success: #03804d;
$color-utility-success-light: #ebf8e1;
$color-utility-warning: #f69d3c;
$color-utility-warning-light: #fffecf;

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family-primary: "Decimal A", "Decimal B", sans-serif;
$font-family-secondary: "Ringside Regular SSm A", "Ringside Regular SSm B",
  "Arial", sans-serif;

/**
 * Font Sizing
 */
$font-size-tiny: 0.65rem;
$font-size-sm: 0.85rem;
$font-size-sm-2: 0.95rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 1.4375rem;
$font-size-large-2: 2rem;
$font-size-xl: 2.4375rem;
$font-size-xxl: 3.2rem;

/**
 * Font Weights
 */
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

/**
 * Line Heights
 */
$line-height-small: 0.9;
$line-height-compact: 1;
$line-height-medium: 1.2;
$line-height-comfortable: 1.35;
$line-height-large: 1.5;
$line-height-large-2: 1.65;
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Max Width
 */
$l-max-width: 72rem;
$l-max-width-mid: 55rem;
$l-max-width-narrow: 42rem;

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 * 2) The width of the bullets, used to align list content.
 */

$space: 1rem;

$pad-small: 0.25rem;
$pad-compact: 0.3rem;
$pad-medium: 0.5rem;
$pad-normal: 1rem; /* 1 */
$pad-comfortable: 1.4rem;
$pad-large: 2rem;
$pad-large-2: 3rem;

$space-bullet-offset: 1.6rem; /* 2 */

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border variables
 */
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius: 8px;
$border-radius-lg: 16px;

/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Transition Speed
 */
$anim-quickest: 0.05s;
$anim-quick: 0.15s;
$anim-med: 0.3s;
$anim-long: 0.4s;
$anim-longest: 1s;
$anim-ease: ease-in-out;
$anim-fast: 0.25s;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

/**
 * Breakpoints used in media queries
 */
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 56em;
$bp-xl: 62em;
$bp-xxl: 75em;
$bp-xxxl: 90em;

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
$nav-height: 1rem;
$body-background: $color-neutral-200;

$heading-color: $color-neutral-700;
$body-color: $color-neutral;
$body-outline-color: $color-neutral;
$body-font: $font-weight-light 110%/1.65 $font-family-secondary;
$link-color: $color-neutral-700;
$link-icon-color: $color-neutral-500;
$link-color-hover: $color-neutral-900;
$link-underline-color: $color-neutral-600;
$link-underline-color-hover: lighten($link-color, 0.5);

$heading-color-inverted: rgba($color-white, 0.95);
$body-color-inverted: rgba($color-white, 0.65);
$link-color-inverted: rgba($color-white, 0.95);
$link-icon-color-inverted: rgba($color-white, 0.65);
$link-color-hover-inverted: rgba($color-white, 0.5);
$link-underline-color-inverted: $color-white;
$link-underline-color-hover-inverted: lighten($link-color-inverted, 0.65);

$button-background: $color-neutral;
$button-background-hover: $color-muted-lilac-dark;
$button-color: $color-neutral-700;
$button-color-hover: $color-white;
$button-border: $color-neutral-700;

$h1-border-color: $color-neutral;

$social-icon-fill: $color-neutral-600;

$social-icon-fill-inverted: rgba($color-white, 0.65);
