/*------------------------------------*\
    #HERO
\*------------------------------------*/

/**
 * 1) Block containing headline, description text, that serves as a primary content area
 */
.c-hero {
	display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;
	margin-bottom: 1rem;

	&--gradient {
        @include backgroundPattern($pattern: '../assets/images/rain.svg');

        &::before {
            content: "";
            background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: 0.85;
        }
	}

    &--pattern {
        @include backgroundPattern($pattern: '../assets/images/diagonal-lines.svg');
    }

	/**
	 * Hero Image
	 */
	&__image {
		display: block;
	    width: 100%;
		margin-bottom: 1rem;

		@media all and (min-width: $bp-small-2) {
			margin: 0;
		}
	}

	/**
	 * Hero Body
	 */
    &__inner {
        max-width: $l-max-width;
        margin: 0 auto;
        padding: $pad-large $pad-comfortable $pad-normal;

        @media all and (min-width: $bp-large) {
            padding: $pad-large-2 $pad-comfortable $pad-normal;
        }
    }

	/**
	 * Hero Title
	 */
	&__heading {
        font-family: $font-family-secondary;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 0.85rem;
        @include headingUnderline();
	}

	/**
	 * Hero Description
	 */
	&__blurb {
        font-size: $font-size-large;
        font-style: italic;
		margin-bottom: $pad-normal;

		p {
            font-size: inherit;
        }

        @media all and (min-width: $bp-med) {
            font-size: $font-size-large-2;
        }
	}
}