/*------------------------------------*\
    #HERO
\*------------------------------------*/

/**
 * 1) Block containing headline, description text, that serves as a primary content area
 */
.hero {
	display: flex;
    min-height: 60vh;
    border-bottom: 1px solid $color-gray-light;
    margin-top: -1px;
    background: $color-white;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1rem;
        background: linear-gradient($color-gray-lightest, rgba($color-gray-lightest, 0));
    }

    &__inner {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        @media screen and (min-width: $bp-med) {
            flex-direction: row;
        }

        &::after {
            content: "\2911";
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -21px;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            background-color: $color-gray-lightest;
            border-radius: 40px 0 0 40px;
            height: 60px;
            width: 40px;
        }

        &::before {
            content: "";
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-gray-light;
            border-radius: 40px 40px 0 0;
            height: 31px;
            width: 62px;
        }
    }

    &__text-block,
    &__image {
        @media screen and (min-width: $bp-med) {
            flex: 0 0 50%;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image picture {
        display: block;
        width: 80%;
        line-height: 0;

        @media all and (min-width: $bp-small-2) {
            margin: 0;
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $pad-large-2*2 $pad-large-2;
    }

    &__text {
        max-width: 35rem;
    }

	&__title {
        font-style: italic;
        font-weight: $font-weight-thin;
        font-size: $font-size-xl;
        margin-bottom: 0.75rem;
	}

    &__subtitle {
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: $pad-medium;
        opacity: 0.65;
        margin-bottom: $pad-comfortable;
    }

	&__blurb {
        font-weight: $font-weight-thin;
        font-size: $font-size-med-2;
		margin-bottom: $pad-normal;

		p {
            font-size: inherit;
        }
	}

    &__metadata {
        margin-top: $pad-comfortable;
        font-family: $font-family-secondary; 
        font-size: $font-size-sm-2;

        > div:first-child {
            margin-bottom: $pad-comfortable;
        }
    }

    &__roles-title,
    &__organization-title {
        font-weight: $font-weight-thin;
        font-size: $font-size-med-2;
    }

    &__roles-title {
        margin-bottom: $pad-small;
    }

    &__roles-list-item {
        margin-bottom: $pad-medium;
        font-weight: $font-weight-thin;
        font-size: $font-size-med-2;

        &::before {
            content: "\2911";
            color: $color-gray-medium;
        }
    }

    &__organization-title {
        margin-right: 0.2rem;
    }

    &__organization-name {
        font-weight: $font-weight-thin;
        font-size: $font-size-med-2;
    }

    &__organization {
        display: flex;
        align-items: baseline;
    }
}