.intro {
    &__inner {
        position: relative;

        @media all and (max-width: $bp-med) {
            display: flex;
            flex-direction: column;
        }
    }

    &__content {
        order: 3;

        @media all and (min-width: $bp-med) {
            order: auto;
            width: 80%;
            position: relative;
            z-index: 1;
        }

        @media all and (min-width: $bp-large) {
            width: 50%;
        }
    }

    &__figure-container {
        order: 2;
        margin-bottom: $pad-comfortable;
        position: relative;

        @media all and (min-width: $bp-med) {
            order: auto;
            position: absolute;
            width: 45%;
            top: 0;
            right: 0;
        }
    }

    &__heading {
        order: 1;
        font-size: $font-size-sm-2;
        margin-bottom: $pad-comfortable;
        font-weight: normal;

        @media all and (min-width: $bp-large) {
            order: auto;
            flex: 0 1 100%;
        }
    }

    &__blurb {
        font-family: $font-family-primary;
        line-height: 1.35;
    }

    &__lead {
        color: $heading-color;
    }

    &__link {
        margin-top: 1rem;

        @media screen and (min-width: $bp-med) {
            margin-top: 2rem;
        }
    }

    &__link-icon {
        color: $color-gray;
    }

    &__desc {
        margin: 0 auto;
        font-size: $font-size-sm;
        line-height: 1.5;
        max-width: $l-max-width-narrow;
    }
}
