/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.c-nav {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    padding: $pad-medium $pad-normal;

    @media all and (min-width: $bp-med) {
        padding: $pad-medium $pad-large-2;
    }

    &__inner {
        max-width: $l-max-width;
        display: flex;
        border-bottom: 1px solid $color-gray;
        
        @media all and (max-width: $bp-med) {
            flex-wrap: wrap;
            padding: 0.25rem 0;
        }

        @media all and (min-width: $bp-med) {
            position: relative;
            min-height: 4rem;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
        }

        @media all and (min-width: ( $l-max-width + $pad-large-2*2 ) ) {
            padding: $pad-medium 0;
        }
    }

    &__logo {
        color: $color-black;
        font-size: $font-size-med;
        font-family: $font-family-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: $font-weight-bold;
        cursor: pointer;

        &::after {
            display: none;
        }

        @media all and (max-width: $bp-med) {            
            flex: 1 0 50%;
            padding: 0.25rem 0;
        }
    }

    /**
     * Navigation Trigger Button
     */

    &__trigger-container {
        display: block;
        text-align: right;
        flex: 1 0 50%;
    }

    &__trigger {
        background: transparent;
        border-radius: $border-radius;
        padding: 0.25rem;
        line-height: 0;
        transition: all $anim-fast ease;
        
        &--is-active {
            color: $color-gray-dark;
        }
        
        &:hover, &:focus {
            color: $color-gray-dark;
        }

        @media all and (min-width: $bp-med) {
            display: none;
        }
    }

    &__menu-icon {
        width: 20px;
        height: auto;
    }

    /**
     * Nav List container
     */
    &__list-container {
        display: none;
    
        /**
         * Navigation Active State
         * 1) Triggered when Menu Button is clicked
         */
        &.-js-mobile-nav-visible {
            @media all and (max-width: $bp-med) {
                display: block;
                flex: 1 0 100%;
            }
        }

        @media all and (min-width: $bp-med) {
            display: flex;
            align-items: center;
        }
    }

    /**
     * Nav List
     * 1) This is the primary navigation list
     */
    &__list {

        /**
         * Nav list styling when parent nav is active
         */
        .nav--is-active & {
            display: block;
            top: 48px;
            left: 0;

            @media all and (min-width: $bp-small) {
                top: 0;
            }
        }

        @media all and (min-width: $bp-small) {
            display: block;
            padding: 0;
        }

        @media all and (min-width: $bp-med) {
            display: flex;
        }

        @media all and (max-width: $bp-med) {
            text-align: center;
        }
    }

    /**
     * Nav list item
     */
    &__list-item {
        position: relative;
    }

    /**
     * Nav link
     */
    &__link {
        padding: 1em;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        color: $color-black;
        text-transform: uppercase;
        font-size: $font-size-sm-2;
        display: block;

        &::after {
            display: none;
        }
        
        &--is-active {
            color: $color-secondary;
        }

        @media all and (min-width: $bp-med) {
            display: flex;
        }
    }
}
