/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/
$nav-height: 4rem;

.c-nav {
    width: 100%;
    z-index: 1;
    padding: $pad-medium $pad-normal;

    @media all and (min-width: $bp-med) {
        padding: 0 $pad-large-2;
    }

    &__inner {
        max-width: $l-max-width;
        display: flex;
        border-bottom: 1px solid $color-gray;
        
        @media screen and (max-width: $bp-small) { 
            align-items: flex-start;
        }
        
        @media screen and (min-width: $bp-small) and (max-width: $bp-med) {
            flex-wrap: wrap;
            padding: 0.25rem 0;
            align-items: center;
        }

        @media screen and (min-width: $bp-med) {
            position: relative;
            min-height: $nav-height;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
        }
    }

    &__logo {
        cursor: pointer;
        padding: $pad-medium 0;
        display: flex;
        align-items: center;

        &::after {
            display: none;
        }

        @media screen and (max-width: $bp-small) { 
            top: 0.25rem;
        }

        @media screen and (max-width: $bp-med) {            
            flex: 1 0 90%;
            padding: 0.25rem 0;
        }
    }

    &__mark-container {
        display: block;
        border-radius: 100%;
        margin-top: $pad-normal;

        .logo-background {
            fill: $color-secondary;
        }

        &::before {
            @media screen and (min-width: $bp-small) {
                display: block;
                content: "";
                z-index: 1;
                background: $body-background;
                height: calc(3.5rem + 6px);
                width: calc(3.5rem + 6px);
                position: absolute;
                top: calc(-26% - 3px);
                left: -3px;
                pointer-events: none;
            }

            @media screen and (min-width: $bp-med) {
                top: calc(-35% - 3px);
                height: calc(5rem + 6px);
                width: calc(5rem + 6px);
            }
        }

        &::after {

            @media screen and (min-width: $bp-small) {
                display: block;
                content: "";
                position: absolute;
                height: calc(3.5rem + 4px);
                width: calc(3.5rem + 4px);
                background: $body-background;
                z-index: 0;
                top: -5px;
                right: 0;
                bottom: 0;
                left: -2px;
                border-radius: 100%;
                box-shadow: 0 0 0 1px $color-gray;
                pointer-events: none;
            }

            @media screen and (min-width: $bp-med) {
                top: 2px;
                height: calc(5rem + 4px);
                width: calc(5rem + 4px);
            }
        }

        > svg {
            height: 2rem;
            width: 2rem;
            z-index: 1;
            position: absolute;
            top: -0.5rem;

            @media screen and (min-width: $bp-small) {
                height: 3.5rem;
                width: 3.5rem;
                top: -0.25rem;
            }

            @media screen and (min-width: $bp-med) {
                height: 5rem;
                width: 5rem;
                top: 0.25rem;
            }
        }
    }

    &__info-container {
        margin-left: calc(0.75rem + 2rem);

        @media screen and (min-width: $bp-small) {
            margin-left: calc(1rem + 3.5rem);
        }

        @media screen and (min-width: $bp-med) {
            margin-left: calc(1rem + 5rem); 
            margin-top: $pad-medium;
        }
    }

    &__name,
    &__role {
        color: $color-gray-darkest;
        font-family: $font-family-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__name {
        font-size: $font-size-med;
    }

    &__role {
        font-size: $font-size-sm-2;

        @media screen and (max-width: $bp-small) {
            display: none;
        }
    }

    /**
     * Navigation Trigger Button
     */

    &__trigger-container {

        @media screen and (max-width: $bp-med) {
            display: block;
            text-align: right;
            flex: 1 0 10%;
        }
    }

    &__trigger {
        background: transparent;
        border-radius: $border-radius;
        padding: $pad-small;
        line-height: 0;
        transition: all $anim-fast ease;
        
        &--is-active {
            color: $color-gray-dark;
        }
        
        &:hover, &:focus {
            color: $color-gray-dark;
        }

        @media screen and (min-width: $bp-med) {
            display: none;
        }
    }

    &__menu-icon {
        width: 20px;
        height: auto;
    }

    /**
     * Nav List container
     */
    &__list-container {
        display: none;
    
        /**
         * Navigation Active State
         * 1) Triggered when Menu Button is clicked
         */
        &.-js-mobile-nav-visible {
            @media screen and (max-width: $bp-med) {
                display: block;
                flex: 1 0 100%;
            }
        }

        @media screen and (min-width: $bp-med) {
            display: flex;
            align-items: center;
        }
    }

    /**
     * Nav List
     * 1) This is the primary navigation list
     */
    &__list {

        /**
         * Nav list styling when parent nav is active
         */
        .nav--is-active & {
            display: block;
            top: 48px;
            left: 0;

            @media all and (min-width: $bp-small) {
                top: 0;
            }
        }

        @media all and (min-width: $bp-small) {
            display: block;
            padding: 0;
        }

        @media all and (min-width: $bp-med) {
            display: flex;
            height: $nav-height;
            margin-right: $pad-comfortable;
        }

        @media all and (max-width: $bp-med) {
            text-align: center;
        }
    }

    /**
     * Nav list item
     */
    &__list-item {
        position: relative;
    }

    /**
     * Nav link
     */
    &__link {
        padding: 1em;
        font-family: $font-family-secondary;
        font-weight: $font-weight-medium;
        color: $color-black;
        text-transform: uppercase;
        font-size: $font-size-sm-2;
        display: block;
        border-radius: $border-radius;

        &::after {
            display: none;
        }
        
        &--is-active {
            color: $color-primary;
            background: $color-white;
        }

        @media all and (min-width: $bp-med) {
            display: flex;
            height: 100%;
            align-items: center;
        
            &--is-active {

                &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    z-index: 1;
                    bottom: 0;
                }
            }
        }
    }
}
