/*------------------------------------*\
    #PROJECT GRID
\*------------------------------------*/

.project-grid {
    line-height: 0;
    border-radius: $border-radius-big;
    overflow: hidden;

    &__image-container {
        border-radius: $border-radius-big;
        overflow: hidden;
        margin-left: 0;
        text-indent: initial;
        margin-bottom: 0;
        line-height: 0;
        
        &::before {
            display: none!important;
        }
    }

    &__image > img {
        width: 100%;
    }

    &__image-caption {
        font-size: $font-size-sm;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin-top: $pad-small;
    }
}

.section__visual-container {
    .project-grid {
        &__images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__image-container {
            margin-bottom: $pad-normal;
        }
    }
    
    &--stacked {
        .project-grid {

            @media screen and (min-width: $bp-small-3) {
                &__image-container {
                    flex: 0 0 100%;
                }
            }
        }
    }
    
    &--side-by-side {
        .project-grid {

            @media screen and (min-width: $bp-small-3) {
                &__image-container {
                    flex: 0 0 49%;
                }
            }
        }
    }
    
    &--big-small-small {
        .project-grid {
            @media screen and (min-width: $bp-small-3) {
                &__image-container {
                    flex: 0 0 49%;
                }

                &__image-container:first-child {
                    flex: 0 0 100%;
                }
            }
        }
    }
    
    &--small-small-big {
        .project-grid {

            @media screen and (min-width: $bp-small-3) {
                &__image-container {
                    flex: 0 0 49%;
                }

                &__image-container:last-child {
                    flex: 0 0 100%;
                }
            }
        }
    }
}
