/*------------------------------------*\
    #PROJECT VISUAL
\*------------------------------------*/

.project-visual {
    line-height: 0;
    border-radius: $border-radius-big;
    overflow: hidden;
}
