/*------------------------------------*\
    #SECTION
\*------------------------------------*/

/**
 * Section block that helps chunk related items together
 */
.section {

    /**
     * Stacked content
     */
    &--stacked {
        flex-direction: column;
        align-items: center;

        &:first-child {
            margin-bottom: $pad-normal;
        }
    }

    /**
     * Side-by-side content
     */
    &--default {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    /**
     * Text-only sections
     */
    &--text-only & {
        &__text-container {
            margin: 0 auto;
        }
    }

    /**
     * Text first, then the visual
     */
    &--text-visual & {

        &__text-container {
            margin-bottom: $pad-normal;
        }
    }

    /**
     * Visual first, then the text
     */
    &--visual-text & {
        &__visual-container {
            margin-bottom: $pad-normal;
        }
    }

    &__text-container {
        p,
        ul,
        ol,
        li {
            font: $body-font;
        }

        li {
            font: $body-font;
            margin-bottom: $pad-medium;
        }

        ul {
            list-style-type: circle;
            list-style-position: outside;
            padding-left: 20px;
        }
    }

    &__title {
        font-size: $font-size-large-2;
        font-style: italic;
        font-weight: $font-weight-thin;
        margin-bottom: $pad-medium;

        @media screen and (max-width: $bp-med) {
            font-weight: $font-weight-light;
            font-size: $font-size-large;
            margin-bottom: 0.5rem;
        }
    }

    &__title,
    &__text {
        max-width: $l-max-width-mid;
    }

    &__visual-container {
        width: 100%;
        max-width: $l-max-width;
    }
}

/*------------------------------------*\
    #SECTION HEADER
\*------------------------------------*/

.section-header {
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid $color-gray-lightest;
}

.section-header__title {
	font-size: $font-size-large;
}

.section-header__desc {
	font-size: $font-size-med;
	margin-bottom: 0;
}
