.social-icons {
    display: flex;

    @media all and (max-width: $bp-med) {
        justify-content: center;
    }

    &__link {
        fill: $social-icon-fill;
        transition: fill 0.15s ease-in;

        &::after {
            display: none;
        }

        &:hover, 
        &:focus {
            fill: $link-color;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;

        @media all and (max-width: $bp-med) {
            width: 2.15rem;
            height: 2.15rem;
            margin: 0.5rem;
        }
    }
}