{% include head.html %}
<div class="main-container {% if page.page_class %} {{- page.page_class }} {{ layout.page_class -}} {% endif %}" data-barba="container" data-barba-namespace="{{ page.barba-namespace }}">
    {% include nav.html %}
    <div role="main" class="content">
        <div class="intro">
            <div class="intro__inner">
                <div class="intro__content">
                    {% if page.heading %}
                    <h1 class="intro__heading">
                        {{ page.heading }}
                    </h1>
                    {% endif %}
                    <figure class="intro__figure-container mobile-only">
                        <div class="intro__image-container">
                            <img class="intro__image lazy" data-src="{{ page.image }}" alt="{{ page.image-alt }}">
                            {% if page.image-credit %}<figcaption class="intro__image-caption">{{ page.image-credit | markdownify }}</figcaption>{% endif %}
                        </div>
                    </figure>
                    <div class="intro__text">
                        {% if page.intro %}
                            <p class="intro__blurb">{{ page.intro }}</p>
                        {% endif %}
                        
                        {{ page.body | markdownify }}

                        {% if page.cta %}
                            {% include cta.html 
                                title=page.cta.title
                                body=page.cta.body
                                time=page.cta.time
                                button-text=page.cta.button-text %}
                        {% endif %}
                    </div>
                </div>
                <figure class="intro__figure-container desktop-only">
                    <div class="intro__image-container">
                        <img class="intro__image lazy" data-src="{{ page.image }}" alt="{{ page.image-alt }}">
                        {% if page.image-credit %}<figcaption class="intro__image-caption">{{ page.image-credit | markdownify }}</figcaption>{% endif %}
                    </div>
                </figure>
            </div>
        </div>
        {% if page.things-intro %}
        <div class="about-block">
            <div class="about-block__intro">
                {{ page.things-intro }}
            </div>
            {% for thing in page.things %}
            <div class="about-block__block">
                <h3 class="about-block__title heading--sm">{{ thing.heading }}</h3>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div> <!-- Main / Content -->
</div> <!-- Main Container -->
{% include footer.html %}
