<!DOCTYPE html>
<html>
{% include head.html %}
  <body 
    {% if page.page_class %} 
        class="{{- page.page_class }} {{ layout.page_class -}}" 
    {% endif %}>
    {% include nav.html %}

    <div class="main-container" role="main">
        <div class="intro">
            <div class="intro__inner">
                <h1 class="intro__heading heading--special-sm">
                    {{ page.heading }}
                </h1>
                <div class="intro__content">
                    <p class="intro__blurb">
                        {{ page.intro }}
                    </p>
                    <div class="intro__text">
                        {{ page.body | markdownify }}
                    </div>
                </div>
                <div class="intro__image-container">
                    <img class="intro__image" src="{{ page.image }}" alt="{{ page.alt }}">
                </div>
            </div>
        </div>

        <div class="about-block">
            <div class="about-block__intro">
                {{ page.about-intro }}
            </div>
            {% for thing in page.things %}
            <div class="about-block__block">
                <h3 class="about-block__title heading--sm">{{ thing.heading }}</h3>
                <dl id="{{ thing.heading | replace: ' ', '-' | downcase }}" class="about-block__list">
                    {% for subthing in thing.subthings %}
                        <dt class="about-block__subtitle">
                            {{ subthing.title }}
                        </dt>
                        {% if subthing.attr %}
                            <dd class="about-block__attr">
                                {{ subthing.attr | markdownify }}
                            </dd>
                        {% else %}
                            <dd class="about-block__desc">
                                {{ subthing.desc | markdownify }}
                            </dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include footer.html %}
  </body>
</html>