<!DOCTYPE html>
<html>
{% include head.html %}
  <body 
	{% if page.page_class %} 
		class="{{- page.page_class }} {{ layout.page_class -}}" 
	{% endif %}>
	{% include nav.html %}
	
	<header class="c-hero">
        <div class="c-hero__inner l-container--narrow">
            <h2 class="c-hero__heading">
                {{ page.title }}
            </h2>
            <p class="c-hero__blurb">
                {{ page.intro }}
            </p>
        </div>
    </header>

	<div class="main-container l-container--narrow" role="main">
		<!-- page content -->
		{{ content }}
		<!-- page content -->
	</div>
	{% include footer.html %}
  </body>
</html>