<!DOCTYPE html>
<html>
{% include head.html %}
  <body 
    {% if page.page_class %} 
        class="{{- page.page_class }} {{ layout.page_class -}}" 
    {% endif %}>
    {% include nav.html %}

    <div class="main-container" role="main">
        <div class="intro">
            <h2 class="intro__heading">
                {{ page.heading }}
            </h2>
            <p class="intro__blurb">
                {{ page.intro }}
            </p>
        </div>
        
        <div class="projects-container">
          {% for project in site.projects %}
            <article class="project">
                <a class="project__heading" href="{{ project.url }}">
                    {{ project.title }}
                </a>
            </article>
          {% endfor %}
        </div>

    </div>
    {% include footer.html %}
  </body>
</html>
