.project-container {
    text-align: left;
    margin: 0 auto;
    
    @media screen and (min-width: $bp-large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .project {
        border-radius: $border-radius-big;
        padding: $pad-normal;
        position: relative;

        @media screen and (min-width: $bp-large) {
            flex: 0 0 50%;
        }

        &--has-casestudy {
            .project__featured-image {
                transform: scale(1) translate(-50%, -50%);
                transition: transform 0.05s ease-out;
            }

            &:hover,
            &:focus {
                .project__featured-image {
                    transform: scale(1.04) translate(-50%, -50%);
                    transition: transform 0.15s ease-in;
                }

                // Hover styles
                .project__button {
                    color: $color-white;
                    background: $button-background-hover;
                }
            }
        }

        &__featured-image-container {
            border-radius: $border-radius-big;
            border: 1px solid $color-gray-light;
            position: relative;

            &:after {
                content: '';
                display: block;
                padding-bottom: 50%;
            }
        }

        &__featured-image {
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        &__featured-image--cropped {
            width: 100%;
            left: 60%;
            bottom: -20%;
        }

        &__links {
            @media screen and (min-width: $bp-med) {
                display: flex;
                align-items: baseline;
                margin-top: auto;
            }
        }

        &__link {
            display: inline-block;
            padding: $pad-small;
            border-radius: $border-radius-big;
            font-size: $font-size-sm;
            letter-spacing: 1px;
            text-transform: uppercase;

            @media screen and (max-width: $bp-med) {
                margin-left: -$pad-small;
            }

            &::after {
                border: none;
            }

            &:focus {
                @include focus-outline();
            }

            &:focus:not(:focus-visible) {
                box-shadow: none;
            }

            &:focus-visible {
                @include focus-outline();
            }
        }

        &__link-divider {
            color: $link-icon-color;
            padding: $pad-small;
        }

        &__link-icon {
            color: $link-icon-color;
            font-size: $font-size-sm;
        }

        &__text-container {
            padding: $pad-comfortable 0 0;
            border-radius: $border-radius;
            display: block;

            @media screen and (min-width: $bp-med) {
                padding: $pad-comfortable 0;
            }
        }

        &__header {
            margin-bottom: $pad-small;

            @media screen and (min-width: $bp-xxxl) {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        &__title {
            font-size: $font-size-med-2;
            font-weight: $font-weight-bold;
            margin: 0;

            @media screen and (min-width: $bp-med) {
                font-size: $font-size-large-2;
                font-weight: $font-weight-bold;
            }

            @media screen and (min-width: $bp-xxxl) {
                margin-right: $pad-comfortable;
            }
        }

        &__years {
            position: absolute;
            top: 0;
            right: 0;
            background: $color-utility-success-light;
            border-radius: $border-radius;
            color: $color-utility-success;
            padding: $pad-small $pad-medium;
            font-size: $font-size-sm;
            font-weight: $font-weight-semibold;
            margin: 0;

            @media screen and (max-width: $bp-med) {
                font-size: $font-size-tiny;
            }
        }

        &__excerpt p {
            color: $color-gray-medium;
            font-family: $font-family-primary;
            font-weight: $font-weight-normal;
            font-size: $font-size-med;
            margin-bottom: $pad-small;

            @media screen and (min-width: $bp-med) {
                font-size: $font-size-med-2;
                line-height: 1.65;
                margin-bottom: 0;
            }
        }
    }

    .cta {
        max-width: $l-max-width;
        margin: $pad-large auto 0;
    }
}
