/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1 base styles
 */
h1 {
	font-size: 2.25rem;
	line-height: 1;
	word-wrap: break-word;

	@media all and (min-width: $bp-med) {
		font-size: 2.75rem;
	}
}

/**
 * Heading 2 base styles
 */
h2 {
	font-size: 1.6em;
	line-height: 1.2;
	letter-spacing: -0.02rem;
	margin-bottom: 0.5rem;
	word-wrap: break-word;
}

/**
 * Heading 3 base styles
 */
h3 {
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 0.3rem;
    word-wrap: break-word;
}

/**
 * Small heading
 */
.heading--sm {
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0.85rem;
    position: relative;
}

/**
 * Small heading with underline
 */
.heading--special-sm {
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0.85rem;
    @include headingUnderline();
}
