/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
    color: inherit;
    text-decoration: none;
    outline: 0;
    transition: color $anim-med ease-out, background $anim-quickest ease-out, box-shadow $anim-quick ease-out;
    position: relative;

    &:hover,
    &:focus {
        color: $link-color-hover;

        &::after {
          border-color: $link-underline-color-hover;
        }
    }

    &:focus {
        @include focus-outline();
        border-radius: $border-radius-big;
    }

    &:focus:not(:focus-visible) {
        color: $link-color;
        box-shadow: none;

        &::after {
          border-color: transparent;
        }
    }

    &:focus-visible {
        color: $color-black;
        border-radius: $border-radius-big;
        @include focus-outline();

        &::after {
          border-color: $link-underline-color-hover;
        }
    }
}

/**
 * Main content links
 */
.content {
    a:not(.c-pagination__button) {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
        text-decoration-color: $link-underline-color;

        &:hover {
            text-decoration-color: $link-underline-color-hover;
        }
    }
}
