/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * 1) List base styles
 */

 /**
  * Remove list styles from unordered and ordered lists
  */
ol, ul {
	list-style: none;
}

ul {  
    font: $body-font;
    margin-bottom: $space;
}

ul li {
    margin-left: 0.75rem;
    text-indent: -0.75rem;
    margin-bottom: $pad-small;

    &::before {
        content: '•' ' ';
        color: $color-gray-medium;
    }
}

ol {  
  counter-reset: custom-counter;
}

ol li {
  counter-increment: custom-counter;
  margin-left: 1.25rem;
  text-indent: -1.25rem;
}

ol li::before {
  content: counter(custom-counter) '. ';
  color: $color-gray-medium;
}

/**
 * 2) Definition list base styles
 */

 /**
  * Remove default styling
  */
dd {
    margin-inline-start: 0;
}
