/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * 1) List base styles
 */

 /**
  * Remove list styles from unordered and ordered lists
  */
ol, ul {
	list-style: none;
}

.content {
    ul {  
        font: $body-font;
        margin-bottom: $space;
    }

    ul li {
        margin-left: 1rem;
        text-indent: -0.85rem;
        margin-bottom: $pad-small;

        &::before {
            content: '•';
            color: $color-gray-medium;
            padding-right: 0.35rem;
        }
    }
}

/**
 * 2) Definition list base styles
 */

 /**
  * Remove default styling
  */
dd {
    margin-inline-start: 0;
}
