/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
	max-width: 100%;
	height: auto;
}

figcaption {
    font-size: $font-size-sm;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lazy {
    opacity: 0;
    transition: opacity 0.25s;
}

.lazy.loaded {
    opacity: 1;
}