/*------------------------------------*\
    #TEXT
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: $font-weight-light;
}

h1 {
  font-size: $font-size-xxl;
  margin: $pad-large-2 0 $pad-large;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-xl;
    margin: $pad-large 0 $pad-normal;
  }
}

h2 {
  font-size: $font-size-xl;
  margin: $pad-large-2 0 $pad-comfortable;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-large-2;
    margin: $pad-large 0 $pad-normal;
  }
}

h3 {
  font-size: $font-size-large-2;
  margin: $pad-comfortable 0 $pad-medium;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-large;
    margin: $pad-comfortable 0 $pad-medium;
  }
}

h4 {
  font-size: $font-size-large;
  margin-bottom: $pad-comfortable;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-med-2;
    margin: $pad-small 0 $pad-medium;
  }
}

h5 {
  font-size: $font-size-med-2;
  margin-bottom: $pad-comfortable;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-med;
    margin-bottom: $pad-normal;
  }
}

h6 {
  font-size: $font-size-med;
  margin-bottom: $pad-comfortable;

  @media screen and (max-width: $bp-med) {
    font-size: $font-size-sm-2;
    margin-bottom: $pad-normal;
  }
}

/**
 * Paragraph base styles
 */
p {
  font: $body-font;
  margin-bottom: $space;
}

ul,
ol {
  font: $body-font;
}

li {
  font: inherit;
  margin-bottom: $pad-medium;
}

/**
 * Blockquote base styles
 */
blockquote {
  font-style: normal;
  font-weight: $font-weight-light;
  font-size: $font-size-med-2;
  border-left: 3px solid $color-muted-lilac;
  padding-left: 1rem;
  margin: $pad-comfortable auto $pad-large-2;
}

cite {
  font-style: normal;
  font-size: $font-size-sm;
}

/**
 * Horizontal rule base styles
 */
hr {
  border: 0;
  height: 1px;
  background: $color-neutral-200;
  margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
  color: black;
  background: rgba($color-tertiary, 0.75); /* Gecko Browsers */
}
::selection {
  color: black;
  -webkit-text-fill-color: black;
  background: rgba($color-tertiary, 0.75); /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */
code {
  display: inline-block;
  background: $color-neutral-100;
  border: 1px solid $color-neutral-200;
  padding: $pad-small $pad-medium;
  line-height: $line-height-medium;
  font-size: $font-size-sm;
}

/**
 * Preformatted text base styles
 */
pre {
  background: $color-neutral-100;
  border: 1px solid $color-neutral-200;
  font-size: $font-size-med;
  padding: $pad-normal;
  overflow-x: auto;

  /**
	 * Remove border from code within preformatted text block
	 */
  code {
    border: 0;
  }
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: monospace !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
